#starter{
    color: crimson;
}
#adding{
    color: black;
}

#Spring{
    margin-left: 100px;
}
#French{
    margin-left: 40px;
}
#Tomato{
    margin-left: 40px;
}
#Kebab{
    margin-left: 70px;
}
#Caesar{
    margin-left: 80px;
}